/* =================================
	Quotes Llama – quotes='5' etc.
	================================ */

/* Wrapper for each quote */
.quotes-llama-count-quote {
	display: inline-block;
	padding: 20px;
	margin: 20px 0;
	max-width: 700px;
}

/* Quote image */
.quotes-llama-count-quote img {
	max-width: 150px;
	height: auto;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.45);
	float: left;
}

/* Author and source */
.quotes-llama-count-author {
	display: block;
	text-align: right;
	font-style: italic;
}

.quotes-llama-count-source {
	display: inline-block;
	text-align: right;
	font-size: small;
	font-style: italic;
}
