/* ================================
	Quotes Llama – mode='gallery'.
	=============================== */

/* Wrapper */
.quotes-llama-gallery {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

/* Rotating container */
.quotes-llama-gallery-rotate {
	position: relative;
	width: 100%;
	min-height: 200px;
	padding: 20px;
	border-radius: 10px;
}

/* Countdown */
.quotes-llama-gallery-countdown,
.quotes-llama-gallery-reenable {
	font-size: 14px;
	text-align: right;
	margin-bottom: 10px;
	min-height: 25px;
}

/* Image */
.quotes-llama-gallery img  {
	max-width: 150px;
	height: auto;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 5px 10px 12px 0px rgba(0,0,0,0.75);
	float: left;
}

/* Quote */
.quotes-llama-gallery-quotebox {
	line-height: 1.5;
	padding: 20px;
	border-radius: 6px;
	min-height: 180px;
}

.quotes-llama-gallery-author {
	display: block;
	text-align: right;
	font-style: italic;
}

.quotes-llama-gallery-source {
	display: inline-block;
	text-align: right;
	font-size: small;
	font-style: italic;
}

/* ------------
	Responsive
	----------- */
@media (max-width: 1024px) {
	.quotes-llama-gallery-quotebox {
		font-size: 0.95rem;
	}

	.quotes-llama-gallery-author {
		font-size: 0.90rem;
	}

	.quotes-llama-gallery img  {
		max-width: 120px;
	}
}

@media (max-width: 800px) {
	.quotes-llama-gallery-quotebox {
		font-size: 0.90rem;
	}

	.quotes-llama-gallery-author {
		font-size: 0.85rem;
	}

	.quotes-llama-gallery img  {
		max-width: 90px;
	}
}
