/* ========================
	Quotes Llama – Widget.
	======================= */

/* Wrapper */
.quotes-llama-widget-random {
	display: block;
	width: 100%;
	padding: 5px;
}

/* Quote */
.quotes-llama-widget-quote {
	position: relative;
	padding: 5px;
}

/* Image */
.quotes-llama-widget-random img {
	max-width: 150px;
	max-height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.45);
	float: left;
}

/* Next Quote */
.quotes-llama-widget-next {
	display: block;
	text-align: right;
	font-style: italic;
	font-size: small;
}

/* Author */
.quotes-llama-widget-author {
	display: block;
	text-align: right;
	font-style: italic;
}

/* Source */
.quotes-llama-widget-source {
	font-size: small;
	font-style: italic;
}

/* Countdown */
.quotes-llama-widget-countdown {
	position: absolute;
	right: 0px;
	top: -7px;
	opacity: 0.6;
	font-size: small;
}

/* ------------
	Responsive
	----------- */
@media (max-width: 1024px) {
	.quotes-llama-widget-quote {
		font-size: 0.95rem;
	}

	.quotes-llama-widget-author {
		font-size: 0.90rem;
	}

	.quotes-llama-widget-random img  {
		max-width: 120px;
	}
}

@media (max-width: 800px) {
	.quotes-llama-widget-quote {
		font-size: 0.90rem;
	}

	.quotes-llama-widget-author {
		font-size: 0.85rem;
	}

	.quotes-llama-widget-random img  {
		max-width: 90px;
	}
}
