/* ===============================
	Quotes Llama – mode='search'.
	============================== */

.quotes-llama-search img  {
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 5px 10px 12px 0px rgba(0,0,0,0.75);
	float: left;
}

.quotes-llama-search hr {
	clear: left;
}

.quotes-llama-search-quotes-form {
	padding-bottom: 30px;
}

.sc {
	max-width: 150px;
}

.quotes-llama-search-quotesearch {
	max-width: 250px;
}

.quotes-llama-search-form select {
	margin-right: 3px;
	margin-left: 3px;
}

.quotes-llama-search-more {
	margin-top: 10px;
}

.quotes-llama-search-source {
	display: block;
	text-align: right;
	font-size: small;
	font-style: italic;
}

.quotes-llama-search-quotebox {
	padding: 5px;
}
